{% extends 'initial/layout.html' %}
{% block content %}
<div class="flex justify-content-center align-items-center">
	<div class="container p-5 ">
		<p class="drop-shadow text-center fw-bold display-3 text-primary ">Story Blog</p>
		<p class="lead">At Story Blog, we believe that a home is more than just a physical space. It's a place where memories are
			created, stories are shared, and love is nurtured. Our blog is dedicated to celebrating the beauty and essence of
			home.</p>

		<p class="fw-bold">Explore Home Stories</p>
		<ul class="list-group">
			<li class="list-group-item shadow-sm border bg-light p-3 m-2">
				<p class="fw-bold">Story #1</p>
				<sub>Lorem ipsum dolor sit amet, consectetur adipiscing elit3.</sub>
			</li>
			<li class="list-group-item shadow-sm border bg-light p-3 m-2">
				<p class="fw-bold">Story #2</p>
				<sub>Lorem ipsum dolor sit amet, consectetur adipiscing elit3.</sub>
			</li>
			<li class="list-group-item shadow-sm border bg-light p-3 m-2">
				<p class="fw-bold">Story #3</p>
				<sub>Lorem ipsum dolor sit amet, consectetur adipiscing elit3.</sub>
			</li>
		</ul>
	</div>
</div>
{% endblock %}