{% extends 'initial/layout.html' %}
{% block content %}
<div class="container p-2">
	<div class="d-flex justify-content-center">
		<div class="container">
			<h3 class="fw-bolder">Create Story</h3>
			<div>
				<form method="post"
					action="/story/store">
					<div>
						<label class="form-control  px-0"
							for="">Story Title</label>
						<input type="text"
							class="form-control "
							name="title"
							placeholder="Story title">
						<label class="form-control  px-0"
							for="">Story Author</label>
						<input type="text"
							class="form-control "
							name="author"
							placeholder="Author">
						<label class="form-control  px-0"
							for="">Story Tags</label>
						<input type="text"
							class="form-control "
							name="tags"
							placeholder="tags">
						<div class="py-2">
							<textarea id="story-content"
								name="content"></textarea>
						</div>
						<button class="btn btn-sm btn-primary py-2"
							type="submit">publish</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}